# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.


## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [19]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module
from scipy import stats #The SciPy stats module

## Importing Our List of Stocks

As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the `.csv` file is still in your working directory and import it with the following command:

In [20]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

It's now time to make the first version of our momentum screener!

We need to get one-year price returns for each stock in the universe. Here's how.

In [21]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'companyName': 'Apple Inc',
 'marketcap': 2203630595717,
 'week52high': 140.58,
 'week52low': 57.84,
 'week52change': 0.8460975916534083,
 'sharesOutstanding': 17488495443,
 'float': 0,
 'avg10Volume': 98806837,
 'avg30Volume': 98661987,
 'day200MovingAvg': 110.15,
 'day50MovingAvg': 120,
 'employees': 0,
 'ttmEPS': 3.4,
 'ttmDividendRate': 0.834754072208725,
 'dividendYield': 0.006329090793770903,
 'nextDividendDate': '0',
 'exDividendDate': '2020-10-25',
 'nextEarningsDate': '0',
 'peRatio': 38.60077518361245,
 'beta': 1.2037853617447256,
 'maxChangePercent': 48.04059814512156,
 'year5ChangePercent': 4.046889579111712,
 'year2ChangePercent': 2.2084681666808677,
 'year1ChangePercent': 0.9153063989791681,
 'ytdChangePercent': 0.785636539615472,
 'month6ChangePercent': 0.50458906775022,
 'month3ChangePercent': 0.11182383834799166,
 'month1ChangePercent': 0.07484466452326698,
 'day30ChangePercent': 0.07425635118995917,
 'day5ChangePercent': 0.02875391484023083}

## Parsing Our API Call

This API call has all the information we need. We can parse it using the same square-bracket notation as in the first project of this course. Here is an example.

In [22]:
data['year1ChangePercent']

0.9153063989791681

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called `chunks` that we can use to divide our list of securities into groups of 100.

In [23]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [24]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A'
                                                   ], 
                                                  index = my_columns), 
                                        ignore_index = True)
        
    
final_dataframe

    Ticker    Price One-Year Price Return Number of Shares to Buy
0        A  120.010              0.425257                     N/A
1      AAL   16.992             -0.387176                     N/A
2      AAP  167.080             0.0367956                     N/A
3     AAPL  131.992              0.898239                     N/A
4     ABBV  106.850              0.236676                     N/A
..     ...      ...                   ...                     ...
500    YUM  110.460             0.0962672                     N/A
501    ZBH  152.500            0.00623896                     N/A
502   ZBRA  384.780              0.510931                     N/A
503   ZION   43.790             -0.162902                     N/A
504    ZTS  167.380              0.319614                     N/A

[505 rows x 4 columns]

## Removing Low-Momentum Stocks

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.

In [25]:
final_dataframe.sort_values('One-Year Price Return', ascending = False, inplace = True)
final_dataframe = final_dataframe[:51]
final_dataframe.reset_index(drop = True, inplace = True)
final_dataframe

   Ticker     Price One-Year Price Return Number of Shares to Buy
0    CARR    39.000               2.21019                     N/A
1    NVDA   549.290               1.45848                     N/A
2     AMD    97.670               1.39641                     N/A
3      LB    40.100               1.28651                     N/A
4     ALB   136.260               1.12442                     N/A
5    PYPL   238.370               1.11014                     N/A
6    ALGN   537.840              0.972497                     N/A
7     NOW   567.000              0.945045                     N/A
8     FCX    25.530              0.919652                     N/A
9    AAPL   131.992              0.898239                     N/A
10   IDXX   489.530              0.873957                     N/A
11    WST   272.260               0.85671                     N/A
12   CDNS   129.870              0.832423                     N/A
13   AMZN  3369.630               0.81339                     N/A
14    ROL    39.700              0.804051                     N/A
15   SNPS   256.440              0.798895                     N/A
16   LRCX   514.410              0.796268                     N/A
17    FDX   288.950              0.783025                     N/A
18   TWTR    56.030              0.765974                     N/A
19   NFLX   541.630               0.76065                     N/A
20   QCOM   152.130              0.758056                     N/A
21   TMUS   135.300              0.751312                     N/A
22   DXCM   367.660               0.74951                     N/A
23    PWR    68.500              0.710848                     N/A
24    CMG  1419.070              0.678378                     N/A
25   PAYC   423.600              0.674792                     N/A
26   MSCI   447.170              0.673701                     N/A
27    BIO   580.030              0.664931                     N/A
28   XLNX   159.040              0.628001                     N/A
29   TTWO   199.560              0.621142                     N/A
30   ADSK   306.600              0.620887                     N/A
31   ODFL   203.020              0.615574                     N/A
32    TYL   471.640              0.606287                     N/A
33    DVA   117.680              0.568027                     N/A
34   KLAC   265.410              0.559108                     N/A
35     DE   268.530              0.551961                     N/A
36    PKI   144.200              0.545722                     N/A
37   ABMD   280.460              0.531556                     N/A
38    DHR   227.100              0.529026                     N/A
39   TSCO   150.130              0.527776                     N/A
40   ADBE   493.700              0.524625                     N/A
41   CTVA    40.730              0.517952                     N/A
42   MKTX   575.910              0.511319                     N/A
43   ZBRA   384.780              0.510931                     N/A
44   ATVI    91.827              0.505876                     N/A
45   MXIM    86.950              0.504436                     N/A
46   AMAT    89.230              0.503018                     N/A
47    MTD  1143.540              0.498382                     N/A
48   EBAY    54.940              0.495458                     N/A
49    TMO   468.180              0.494011                     N/A
50   IPGP   220.120              0.489057                     N/A

## Calculating the Number of Shares to Buy

Just like in the last project, we now need to calculate the number of shares we need to buy. The one change we're going to make is wrapping this functionality inside a function, since we'll be using it again later in this Jupyter Notebook.

Since we've already done most of the work on this, try to complete the following two code cells without watching me do it first!

In [14]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

portfolio_input()
print(portfolio_size)

Enter the value of your portfolio:10000000
10000000

In [15]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

/Users/parikshitdubey/.conda/envs/Maps_Hashing/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

   Ticker     Price One-Year Price Return Number of Shares to Buy
0    CARR    39.332               2.23942                    4985
1    NVDA   542.053               1.44231                     361
2     AMD    97.490                1.4062                    2011
3      LB    40.010               1.26225                    4900
4     ALB   140.750               1.13765                    1393
5    PYPL   230.100               1.10338                     852
6    ALGN   521.980              0.967338                     375
7     NOW   550.640              0.943391                     356
8     FCX    25.130              0.917151                    7802
9    AAPL   130.280               0.90011                    1505
10   IDXX   482.000              0.879933                     406
11    WST   277.350              0.869591                     706
12   CDNS   127.600              0.838666                    1536
13   LRCX   505.710              0.817231                     387
14   AMZN  3288.310              0.812219                      59
15    ROL    40.750              0.796658                    4811
16   SNPS   251.610              0.790638                     779
17   TMUS   133.820              0.779965                    1465
18    FDX   295.210              0.765661                     664
19   NFLX   535.750              0.754176                     365
20   QCOM   152.100              0.753192                    1289
21   TWTR    56.030              0.752427                    3499
22   DXCM   364.510              0.738719                     537
23    PWR    72.250              0.704528                    2713
24    BIO   594.500              0.689737                     329
25   MSCI   445.981              0.672518                     439
26    CMG  1414.122              0.663496                     138
27   PAYC   444.820              0.662081                     440
28    TYL   469.242              0.616541                     417
29   ODFL   200.440              0.616538                     978
30   TTWO   202.950              0.611738                     966
31   XLNX   154.200              0.611164                    1271
32   ADSK   298.284              0.610552                     657
33     DE   261.180              0.573005                     750
34    PKI   147.790               0.55843                    1326
35    DVA   114.440              0.556275                    1713
36   KLAC   266.660              0.555933                     735
37   ABMD   290.180              0.535941                     675
38   ADBE   505.460              0.533739                     387
39    DHR   224.400              0.525356                     873
40   TSCO   145.240              0.525276                    1350
41   CTVA    40.750              0.520057                    4811
42   ZBRA   393.370              0.507259                     498
43   MXIM    89.590              0.506496                    2188
44   EBAY    55.260              0.503977                    3548
45   AMAT    93.380              0.500844                    2099
46   ATVI    87.970               0.49889                    2228
47    MTD  1127.050              0.493028                     173
48   MKTX   555.300              0.492893                     353
49    TMO   479.160              0.488188                     409
50   IPGP   215.190               0.48689                     911

## Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

* High-quality momentum stocks show "slow and steady" outperformance over long periods of time
* Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of: 

* 1-month price returns
* 3-month price returns
* 6-month price returns
* 1-year price returns

Let's start by building our DataFrame. You'll notice that I use the abbreviation `hqm` often. It stands for `high-quality momentum`.

In [16]:
hqm_columns = [
                'Ticker', 
                'Price', 
                'Number of Shares to Buy', 
                'One-Year Price Return', 
                'One-Year Return Percentile',
                'Six-Month Price Return',
                'Six-Month Return Percentile',
                'Three-Month Price Return',
                'Three-Month Return Percentile',
                'One-Month Price Return',
                'One-Month Return Percentile',
                'HQM Score'
                ]

hqm_dataframe = pd.DataFrame(columns = hqm_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        hqm_dataframe = hqm_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   'N/A',
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month6ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month3ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month1ChangePercent'],
                                                   'N/A',
                                                   'N/A'
                                                   ], 
                                                  index = hqm_columns), 
                                        ignore_index = True)
        
hqm_dataframe.columns

Index(['Ticker', 'Price', 'Number of Shares to Buy', 'One-Year Price Return',
       'One-Year Return Percentile', 'Six-Month Price Return',
       'Six-Month Return Percentile', 'Three-Month Price Return',
       'Three-Month Return Percentile', 'One-Month Price Return',
       'One-Month Return Percentile', 'HQM Score'],
      dtype='object')

## Calculating Momentum Percentiles

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* `One-Year Price Return`
* `Six-Month Price Return`
* `Three-Month Price Return`
* `One-Month Price Return`

Here's how we'll do this:

In [17]:
time_periods = [
                'One-Year',
                'Six-Month',
                'Three-Month',
                'One-Month'
                ]

for row in hqm_dataframe.index:
    for time_period in time_periods:
        hqm_dataframe.loc[row, f'{time_period} Return Percentile'] = stats.percentileofscore(hqm_dataframe[f'{time_period} Price Return'], hqm_dataframe.loc[row, f'{time_period} Price Return'])/100

# Print each percentile score to make sure it was calculated properly
for time_period in time_periods:
    print(hqm_dataframe[f'{time_period} Return Percentile'])

#Print the entire DataFrame    
hqm_dataframe

TypeError: '<' not supported between instances of 'NoneType' and 'float'

## Calculating the HQM Score

We'll now calculate our `HQM Score`, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The `HQM Score` will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the `mean` function from Python's built-in `statistics` module.

In [ ]:
from statistics import mean

for row in hqm_dataframe.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(hqm_dataframe.loc[row, f'{time_period} Return Percentile'])
    hqm_dataframe.loc[row, 'HQM Score'] = mean(momentum_percentiles)

## Selecting the 50 Best Momentum Stocks

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the `HQM Score` column and dropping all but the top 50 entries.

In [ ]:
hqm_dataframe.sort_values(by = 'HQM Score', ascending = False)
hqm_dataframe = hqm_dataframe[:51]

## Calculating the Number of Shares to Buy

We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a `for` loop to calculate the number of shares to buy for each stock in our investment universe.

In [ ]:
portfolio_input()

In [ ]:
position_size = float(portfolio_size) / len(hqm_dataframe.index)
for i in range(0, len(hqm_dataframe['Ticker'])-1):
    hqm_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / hqm_dataframe['Price'][i])
hqm_dataframe

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [ ]:
writer = pd.ExcelWriter('momentum_strategy.xlsx', engine='xlsxwriter')
hqm_dataframe.to_excel(writer, sheet_name='Momentum Strategy', index = False)

## Creating the Formats We'll Need For Our .xlsx File

You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

Since we already built our formats in the last section of this course, I've included them below for you. Run this code cell before proceeding.

In [ ]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [ ]:
column_formats = { 
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['One-Year Price Return', percent_template],
                    'E': ['One-Year Return Percentile', percent_template],
                    'F': ['Six-Month Price Return', percent_template],
                    'G': ['Six-Month Return Percentile', percent_template],
                    'H': ['Three-Month Price Return', percent_template],
                    'I': ['Three-Month Return Percentile', percent_template],
                    'J': ['One-Month Price Return', percent_template],
                    'K': ['One-Month Return Percentile', percent_template],
                    'L': ['HQM Score', integer_template]
                    }

for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Momentum Strategy'].write(f'{column}1', column_formats[column][0], string_template)

## Saving Our Excel Output

As before, saving our Excel output is very easy:

In [ ]:
writer.save()